@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.hero_block {
  background-color: $akwan_website_midnight_navy;
  @include paddingY(size(132) , size(148px));
  .cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 45px;
    @include min-medium-screen {
      gap: 0;
      flex-direction: row;
    }
    .left-content {
      width: 100%;
      @include min-medium-screen {
        width: 42%;
      }
    }
    .right-image {
      width: 100%;
      @include min-medium-screen {
        width: 40.35%;
      }
      .image {
        padding-top: 100%;
      }
    }
  }
}
