@use "src/styles/common/variables" as *;
@use "../mixins/mixins" as *;


.related-wrapper {
  display: grid;
  grid-gap: size(24);
  grid-template-columns: repeat(1, 1fr);
  @include min-medium-screen {
    grid-template-columns: repeat(2, 1fr);
  }
  @include large-screen {
    grid-template-columns: repeat(3, 1fr);
  }
}

