@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

footer {
  background-color: $akwan_website_ash_black;
  @include paddingY(size(80), size(32));

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    @include min-medium-screen {
      gap: 0;
      flex-direction: row;
    }
    .left-content {
      width: 100%;
      gap: 15px;
      @include min-medium-screen {
        width: 25.7%;
      }
      .footer-logo {
        width: 115px;
        height: 60px;
        max-height: 4760px;
        display: block;
        svg, img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .footer-info {
        color: $akwan_website_warm_ivory;
      }
    }

    .right-content {
      display: flex;
      align-items: center;
      width: 100%;
      @include min-medium-screen {
        width: 55%;
        gap: 85px;
      }
      .links-wrapper {
        width: 100%;
        @include min-medium-screen {
          width: 14.3%;
        }
        .link-wrapper {
          .link {
            color: $akwan_website_warm_ivory;
            transition: color $duration;
            &:hover {
              color: $akwan_website_midnight_navy;
            }
          }
        }
      }
    }

  }

  .copy-right-social-links {
    padding-top: size(32);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    @include min-medium-screen {
      flex-direction: row;
    }
    p {
      color: $akwan_website_white;
      opacity: 0.3;
    }

    a {
      &:hover {
        color: $akwan_website_light_green;
      }
    }

    .icons {
      display: flex;
    }

    .footer-link {
      @include small-screen {
        @include marginY(size(16));
      }
    }

    .social-links-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;

      .icon-wrapper {
        @include square(25px);
        img {
          @include square(100%);
          object-fit: contain;
        }

      }
    }


  }

}
