@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.about_us_block {

  position: relative;
  height: calc(100vh - #{size(145)});
  z-index: 4;

  .cover-image {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;

    img {
      @include square(100%);
      //object-fit: contain;
      object-fit: cover;
    }
  }

  .content-wrapper {
    background-color: $akwan_website_warm_ivory;
    position: relative;
    top: size(50);
    padding: 40px 40px 55px 30px;
    width: 80%;
    @include min-medium-screen {
      padding: size(60) size(40) size(75) size(70);
      width: 55.97%;
    }
    @include large-screen {
      top: size(107);
      padding: 82px 118px 75px 121px;
      width: 45.97%;

    }
    .about-us-title {
      margin-bottom: 15px;
    }
  }
}
